<footer class="footer bg-dark py-5 mt-auto">
    <div class="box container">
        <div class="text-muted">&copy; RateCamp 2021</div>
        <div class="push">
            <a style="padding-left:15px ;color: #3b5998;" href="https://www.facebook.com/arpit.pandey.99/" role="button"><i class="fab fa-facebook-f fa-lg"></i></a>
            <!-- Twitter -->
            <a style="padding-left:15px ;color: #55acee;" href="https://twitter.com/Arpit_pandey221" role="button"><i class="fab fa-twitter fa-lg"></i></a>
            <!-- Google -->
            <a style="padding-left:15px ;color: #dd4b39;" href="#!" role="button"><i class="fab fa-google fa-lg"></i></a>
            <!-- Instagram -->
            <a style="padding-left:15px ;color: #ac2bac;" href="https://www.instagram.com/arpit_pandey__/" role="button"><i class="fab fa-instagram fa-lg"></i></a></div>
    </div>
</footer>